<html>
    <head>
        XML Converter to JSON
    </head>
    <body>
        <div id="wrapper">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="file">Choose file to upload</label>
                    <input type="file" id="file" name="file" multiple  accept=".xml"/>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>